<DocsDemo as |demo|>
  <demo.example @name="final">
    <div class="docs-flex docs-item-center">
      {{!-- BEGIN-SNIPPET quickstart-button-final-used.hbs --}}
      <QuickstartButtonRefined
        @onClick={{perform this.submitTask}}
        @onSuccess={{this.onSuccess}}
        @onError={{this.onError}}
        @disabled={{this.disabled}}
      >
        Click me!
      </QuickstartButtonRefined>
      {{!-- END-SNIPPET --}}
      <div class="docs-ml-8 docs-flex docs-items-center">
        <label for="failRequest-final">
          Fail request?
        </label>
        <Input
          @class="docs-ml-2"
          @type="checkbox"
          @id="failRequest-final"
          @name="failRequest"
          @checked={{this.failRequest}}
        />
      </div>
      <div class="docs-ml-8 docs-flex docs-items-center">
        <label for="disabled-final">
          Disable button?
        </label>
        <Input
          @class="docs-ml-2"
          @type="checkbox"
          @id="disabled-final"
          @name="failRequest"
          @checked={{this.disabled}}
        />
      </div>
    </div>
  </demo.example>
  {{demo.snippet
    "quickstart-button-final.js"
    label="quickstart-button/component.js"
  }}
  {{demo.snippet
    "quickstart-button-final.hbs"
    label="quickstart-button/template.hbs"
  }}
  {{demo.snippet "quickstart-button-final-used.hbs" label="template.hbs" }}
  {{demo.snippet "quickstart-button-final-used.js" label="controller.js" }}
</DocsDemo>
