<div class='px-4 mx-auto max-w-7xl lg:px-8'>
  <div class='relative lg:flex' data-test-docs>
    <div class='hidden h-full pt-12 pr-4 lg:block flex-non lg:w-64'>
      <div class='fixed'>
        <DocsToc />
      </div>
    </div>
    <div class='flex-1 w-full min-w-0 px-0 pt-12 lg:px-4'>
      <MobileDocsToc class='block mb-4 lg:hidden' />
      <DocfyOutput @fromCurrentURL={{true}} as |page|>
        <div
          {{intersect-headings this.setCurrentHeadingId headings=page.headings}}
        >
          {{outlet}}
        </div>
      </DocfyOutput>
      <div
        class='flex flex-wrap justify-between mt-5 mb-10 border-t border-gray-400 dark:border-gray-800'
      >
        <DocfyPreviousAndNextPage as |previous next|>
          <div class='flex items-center pt-6 pr-2'>
            {{#if previous}}
              <svg
                class='h-4 mr-2 text-ember'
                fill='currentColor'
                viewBox='0 0 20 20'
              >
                <path
                  d='M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z'
                  clip-rule='evenodd'
                  fill-rule='evenodd'
                ></path>
              </svg>

              <DocfyLink @to={{previous.url}} class='text-lg text-ember'>
                {{previous.title}}
              </DocfyLink>
            {{/if}}
          </div>
          <div class='flex items-center pt-5 pl-2'>
            {{#if next}}
              <DocfyLink @to={{next.url}} class='text-lg text-ember'>
                {{next.title}}
              </DocfyLink>

              <svg
                class='h-4 ml-2 text-ember'
                fill='currentColor'
                viewBox='0 0 20 20'
              >
                <path
                  d='M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z'
                  clip-rule='evenodd'
                  fill-rule='evenodd'
                ></path>
              </svg>
            {{/if}}
          </div>
        </DocfyPreviousAndNextPage>
      </div>
    </div>
    <div class='flex-none hidden w-56 pl-4 lg:block'>
      <PageHeadings @currentHeadingId={{this.currentHeadingId}} />
    </div>
  </div>
</div>