
{{! template-lint-disable }}
{{!-- BEGIN-SNIPPET quickstart-button-final.hbs --}}
<button
  class="docs-w-32 docs-border docs-p-4 docs-bg-brand docs-border-brand
    docs-shadow docs-rounded docs-outline-none docs-text-white docs-font-bold
    {{if showAsDisabled "docs-pointer-default docs-opacity-50"}}
  "
  onclick={{action "buttonClicked"}}
  disabled={{disabled}}
>
  {{#if isBusy}}
    {{ui-loading}}
  {{else}}
    {{yield}}
  {{/if}}
</button>
{{!-- END-SNIPPET --}}