<button
  type="button"
  disabled={{this.isDisabled}}
  {{on "click" this.handleClick}}
  ...attributes
>
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    {{#if this.isBusy}}
      <div data-test-loading>loading</div>
    {{else}}
      {{@text}}
    {{/if}}
  {{/if}}
</button>
