{{#docs-demo as |demo|}}
  {{#demo.example}}
    <div class="docs-flex docs-item-center">
      {{!-- BEGIN-SNIPPET quickstart-button-used.hbs --}}
      {{#quickstart-button
        onClick=(perform submitTask)
        onSuccess=(action "onSuccess")
        onError=(action "onError")
        onInit=(action (mut statechart))
      }}
        Click me!
      {{/quickstart-button}}
      {{!-- END-SNIPPET --}}
      <div class="docs-ml-8 docs-flex docs-items-center">
        <label for="failRequest">
          Fail request?
        </label>
        {{input
          class="docs-ml-2"
          type="checkbox"
          id="failRequest"
          name="failRequest"
          checked=failRequest
        }}
      </div>
    </div>
    <div class="docs-py-4">
      Click the button to see the statechart execute.
    </div>
    {{#if statechart}}
      {{es-statechart statechart=statechart}}
    {{/if}}
  {{/demo.example}}
  {{demo.snippet "quickstart-button.js" label="quickstart-button/component.js" }}
  {{demo.snippet "quickstart-button.hbs" label="quickstart-button/template.hbs" }}
  {{demo.snippet "quickstart-button-used.hbs" label="template.hbs" }}
  {{demo.snippet "quickstart-button-used.js" label="controller.js" }}
{{/docs-demo}}