<button
  type={{type}}
  disabled={{disabled}}
  class="{{if disabled "docs-opacity-50"}} {{@class}} docs-bg-brand docs-rounded docs-px-3 docs-py-2 docs-text-white docs-font-bold docs-text-sm docs-outline-none"
  ...attributes
>
  {{yield}}
</button>