<Showcase as |showcase|>
  <div
    class='mt-6 mb-4 overflow-hidden border border-gray-800 rounded-md prose'
    ...attributes
  >
    <div class='{{unless @onlySnippets 'p-4 bg-white'}}'>
      {{yield (hash ui=(hash useSnippet=showcase.ui.useSnippet))}}
    </div>
    <div class='bg-gray-800 border-gray-800'>
      <div class='flex flex-wrap px-4 py-2 border-b'>
        {{#each showcase.state.snippets as |snippet|}}
          <button
            type='button'
            class='
            mr-6 -ml-2 focus:outline-none text-base
            {{
              if
              (eq snippet showcase.state.activeSnippet)
              'text-gray-200'
              'text-gray-400'
            }}
            '
            data-test-activate-snippet='{{snippet.name}}'
            {{on 'click' (fn showcase.actions.activateSnippet snippet)}}
          >
            {{snippet.title}}
          </button>
        {{/each}}
      </div>
      {{#if showcase.state.activeSnippet}}
        <showcase.ui.snippet
          @name={{showcase.state.activeSnippet.name}}
          @language={{showcase.state.activeSnippet.language}}
          class='m-0 rounded-b-md'
        />
      {{/if}}
    </div>
  </div>
</Showcase>
