<div
  class='overflow-y-auto sticky top-16 max-h-(screen-16) pt-12 pb-4 -mt-12 text-sm'
>
  <DocfyOutput @fromCurrentURL={{true}} as |page|>
    {{#if page.headings.length}}
      <ul>
        {{#each page.headings as |heading|}}
          <li class='pb-2 border-l border-gray-400'>
            <a
              href='#{{heading.id}}'
              class='block px-2 py-1 border-l-2 hover:text-ember
              {{
                if
                (docfy-eq heading.id @currentHeadingId)
                'border-ember text-ember'
                'border-transparent'
              }}'
              {{on 'click' this.onClick}}
            >
              {{heading.title}}
            </a>

            {{#if heading.headings.length}}
              <ul class=''>
                {{#each heading.headings as |subHeading|}}
                  <li>
                    <a
                      href='#{{subHeading.id}}'
                      class='block pl-6 py-1 border-l-2  border-l-2 hover:text-ember
                      {{
                        if
                        (docfy-eq subHeading.id @currentHeadingId)
                        'border-ember text-ember'
                        'border-transparent'
                      }}'
                      {{on 'click' this.onClick}}
                    >
                      {{subHeading.title}}
                    </a>
                  </li>
                {{/each}}
              </ul>
            {{/if}}
          </li>
        {{/each}}
      </ul>
    {{/if}}
  </DocfyOutput>
</div>
